<%- include('partials/head.ejs') %>
    </head>

    <body>
        <%- include('partials/navbar.ejs') %>
            <h1>We are trying to fix it</h1>
            <p>Please come back, may be try later. Thanks</p>

            <%- include('partials/footer.ejs') %>