<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <main>
                <h1>No Orders Found</h1>
            </main>
            <%- include('../partials/footer.ejs') %>