<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <main class='centered'>

            </main>
            <%- include('../partials/footer.ejs') %>